.time{
    position: absolute;
    top: 35%;
    left: 35%;
}
i{
    margin: 0;
    padding: 0;

}
i{
    font-style: normal;
}
i{

    width: 14px;
    height: 18px;
    display: inline-block;
    background: url('imgs/number.png') no-repeat center;
}
